<div id='<%= id %>' class='dynamic_fieldsets field' type='single'>
  <span class='label'><%= label %></label>
  <% if value.nil? || value.empty? %>
    <em class='empty'>No answer given</em>
  <% else %>
    <span class='value'><%= value %></span>
  <% end %>
</div>
