<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @information_form.name %>
</p>


<%= link_to 'Edit', edit_information_form_path(@information_form) %> |
<%= link_to 'Back', information_forms_path %>
