<div id='<%= id %>' name='<%= name %>'>
  <% options.each do |option| %>
    <%= check_box_tag(option[:name], option[:value], option[:checked], option[:html_attributes]) %>  
    <%= option[:label] %>
    <br />
  <% end %>
</div>
