<li class='<%= classes %>' id='input-<%= field_input_name %>'>
<label for ='<%= field_input_name %>'>
    <%= field.label %>
    <% if field.required? %>
      <abbr title='required'>*</abbr>
    <% end %>
  </label>
