<div id='<% name %>'>
  <% options.each do |option| %>
    <label for='<% option[:name] %>'>
      <%= radio_button_tag(option[:name], option[:value], option[:checked], option[:html_attributes]) %>  
      <%= option[:label] %>
    </label>
  <% end %>
</div>
